
.header {
    height:100px;
    width:100%;
}

.table-headers {
    font-weight: bold;
}

.title-center {
  text-align: center;
}

button {
    width:100px;
    height:30px;
}

.outer {
    width: 100%;
    overflow:auto;
    border: 1px solid black;
}

.left{
    float:left;
    width: calc(50% - 1px);
    border-right: 1px solid black;
}

.right {
    float:right;
    width:calc(50% - 1px);
    border-left: 1px solid black;
}


h2 {
    text-align: center;
}

mat-table {
    border-top: 1px solid black;
}
